@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2"),
    url("/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

::selection {
  color: #0e9992;
}

html {
  font-family: "Inter";
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #ebf0ff;
  background-image: radial-gradient(#ffdf7c 0%, transparent 50%),
    radial-gradient(#ffdf7c 0%, transparent 50%);
  background-position: 58% 80px, -80px 400px;
  background-repeat: no-repeat;
  background-size: 500px 500px, 635px 635px;
}

.body-overlay {
  overflow: hidden;
  opacity: 0.4;
  pointer-events: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-p1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #515151;
}

/* #region header */

.header {
  /* position: fixed; */
  height: 51px;
  padding-top: 56px;
}

@media (max-width: 500px) {
  .header {
    padding-top: 20px;;
  }
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #515151;
}

.nav__link:hover {
  opacity: 0.6;
}

.nav > *:not(:last-child) {
  margin-right: 32px;
}

.main-btn {
  color: black;
  background-color: #f0b80d;
  padding: 16px 32px 16px 32px;
  border: 0;
  border-radius: 40px;
  font-weight: bold;
}

.main-btn:hover {
  box-shadow: 0 0 10px 5px #EAC555;
}

.main-btn:active {
  background-color: #ecc759;
}

/* ..........burger..............*/

.burger {
  position: relative;
  z-index: 52;
  width: 30px;
  height: 30px;
  display: none;
}

@media (max-width: 600px) {
  .burger {
    display: block;
  }
}

.burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 2px;
  transition: 0.3s all ease;
  border-radius: 1px;
  background-color: rgb(73, 66, 66);
}

.burger span:nth-child(1) {
  transform: translate(-50%, calc(-50% - 5px));
}

.burger span:nth-child(2) {
  transform: translate(-50%, -50%);
}

.burger span:nth-child(3) {
  transform: translate(-50%, calc(-50% + 5px));
}

/* active burger */

.burger.active span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(+45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(+315deg);
}

/* ..........mobile-menu..............*/

.mobile-menu {
  display: block;
  position: fixed;
  top: 52px;
  right: -100%;
  /* height: 100vh; */
  border: thick double #e98ebb;
  border-radius: 30px;
  padding: 50px 30px 30px 30px;
  background-color: #dce4fc;
  transition: 0.3s all ease;
}

.mobile-menu.active {
  right: 3%;
  z-index: 5;
  pointer-events: auto;
}

.mobile-menu nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.mobile-menu .nav__link {
  margin-right: 0;
}

/* #endregion */

/* #region section-one */

.section-one {
  margin-top: 110px;
}

@media (max-width: 500px) {
  .section-one {
    margin-top: 55px;
  }
}

.section-one__content {
  display: flex;
  gap: 15px;
  align-items: center;
}

@media (max-width: 800px) {
  .section-one__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.section-one__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 64px;
  max-width: 500px;
}

@media (max-width: 500px) {
  .section-one__title  {
    margin-bottom: 40px;
  }
}

.section-one__title span {
  color: #5380ea;
  position: relative;
}

.section-one__title span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: -10px;
  left: 0px;
  border: 3px solid #5380ea;
  border-color: #5380ea transparent transparent transparent;
  border-radius: 100%;
}

.comment__item {
  display: flex;
  gap: 24px;
  max-width: 577px;
  background-color: #f6fbf8;
  border-radius: 10px;
  padding: 24px;
}

.comment__item:not(:last-child) {
  margin-bottom: 16px;
}

.last-comment {
  max-width: 577px;
  background-color: #f6fbf8;
  border-radius: 10px;
  height: 73px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.comment__img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.section-one__image {
}

.section-one__img {
}

/* #endregion */

/* #region section-two */

.section-two {
  margin-top: 110px;
}

@media (max-width: 500px) {
  .section-two {
    margin-top: 55px;
  }
}

.section-two__wrap {
  width: 100%;
  background-color: #f6fbf8;
  border-radius: 10px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (max-width: 900px) {
  .section-two__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .section-two__wrap {
    grid-template-columns: 1fr;
    align-self: center;
  }
}

@media (max-width: 500px) {
  .section-two__wrap {
    padding: 12px;
  }
}

.section-two__item {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  justify-self: center;
}

@media (max-width: 500px) {
  .section-two__item {
    padding: 16px;
  }
}
.section-two__image {
  min-width: 64px;
}

.section-two__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.section-two__text {
  max-width: 250px;
}

/* #endregion */

/* #region slider */

.section-slider {
  margin-top: 110px;
}

@media (max-width: 500px) {
  .section-slider {
    margin-top: 55px;
  }
}

.slider__title {
  text-align: center;
  position: relative;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  max-width: 204px;
  margin: 0 auto;
}

.slider__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -22px;
  left: 0px;
  border: 3px solid #f0b80d;
  border-color: #f0b80d transparent transparent transparent;
  border-radius: 50%;
}

.slider__text {
  text-align: center;
  max-width: 440px;
  margin: 0 auto;
  margin-top: 20px;
}

.slider-container {
  position: relative;
  margin-top: 24px;
}

.swiper {
  max-width: 800px;
  height: 150px;
}

@media (max-width: 420px) {
  .swiper {
    padding: 0 20px;
    overflow: hidden;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  width: 24px;
  height: 24px;
}

.swiper-button-prev::after {
  content: "";
  background-image: url("/img/slider-prev.svg");
}

.swiper-button-next::after {
  content: "";
  background-image: url("/img/slider-next.svg");
}

/* #endregion */

/* #region form */

.section-form {
  margin: 110px 0px;
}

@media (max-width: 500px) {
  .section-form {
    margin: 55px 0px;
  }
}

.section-form-wrap {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}

@media (max-width: 1000px) {
  .section-form-wrap {
    gap: 60px;
  }
}

@media (max-width: 900px) {
  .section-form-wrap {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

@media (max-width: 900px) {
  .form__image {
    order: 2;
    margin: 0 auto;
  }
}



form {
  background-color: #fff;
  border-radius: 10px;
  padding: 48px;
  max-width: 575px;
}

@media (max-width: 900px) {
  form {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  form {
    padding: 25px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 24px;
}

@media (max-width: 500px) {
  .form__title {
    font-size: 32px;
    margin-bottom: 16px;
  }
}

.form__text {
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .form__text {
    margin-bottom: 25px;
  }
}


.form__sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

@media (max-width: 420px) {
  .form__sub-title  {
    margin-bottom: 7px;
  }
}


input {
  width: 100%;
  height: 50px;
  background-color: #f9faff;
  border: 1px solid #dee6ff;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 25px;
}

@media (max-width: 420px) {
  input {
    margin-bottom: 15px;
  }
}


/* почему не работает :not(:last-child) */

input::placeholder {
  color: #aaaaaa;
}

label:not(:last-child) {
  margin-bottom: 25px;
}

.submit-btn {
  border-radius: 40px;
  padding: 16px 32px;
  background-color: #5380ea;
  color: white;
  font-weight: 700;
  max-width: 200px;
  width: 100%; /* че за дичь) */
}

.submit-btn:active {
  background-color: #7090da;
}

/* #endregion */

/* #region footer */

.footer {
  margin-bottom: 65px;
}

@media (max-width: 500px) {
  .footer {
    margin-bottom: 35px;
  }
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-top: 1px solid #9ca0ff;
  padding-top: 32px;
}

@media (max-width: 600px) {
  .footer__wrap {
    display: none;
  }
}

.footer-mobile {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;
  border-top: 1px solid #9ca0ff;
}

@media (min-width: 600px) {
  .footer-mobile {
    display: none;
  }
}

.column1 {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 30px;
}

.column2 > .nav-footer-mobile {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 25px;
}

/* #endregion */
